@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<PrimeiroMVC.Models.Aluno>
@{
    ViewData["Title"] = "Listar Alunos";
}
<h1>Listar alunos</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Matrícula</th>
        </tr>
    </thead>
</table>
